@import "_landing_component.css";

.carga{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /*background: url(hermoso.gif) center no-repeat #fff;*/
  background: url(https://i.imgur.com/k8TI4sY.gif) center no-repeat #fff;
  /*animation:cargando 1.5s ease infinite;*/
}